body {
  margin: 0;
  font-family: Roboto;
}

.header {
  background: #1f2937;
  color: white;
  padding: 0 32px 32px 32px; /* padding on bottom, right, left */
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.links {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}


.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  gap: 32px;
}


.hero {
  max-width: 600px;
  flex: 1;
}

.hero-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
}

.hero-subtext {
  font-size: 18px;
  color: #ddd;
  margin-bottom: 20px;
}

.hero-button button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button button:hover {
  background-color: #e5e5e5;
}

/* Image */
.header-pic img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: none;
}

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
.title-2{
  flex-direction: column;
  text-align: center;
  margin: 50px;
  font-size: 36px;
  font-weight: 900px;
  
  
}

.bottom{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.pic{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 50px;
}

img{
  border: 2px solid #3882f6;
  border-radius: 5px;
}

.text, .pic {
  font-size: 10px;
  max-width: 100px;
}

.container-3 {
  display: flex;
  background-color: #e5e7eb;
  flex-direction: column;
  padding: 100px;
}




